<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <title>Todo</title>
  </head>
  <body>
    <header>
      <h3 class="logo"><a href="/">Express Todo</a></h3>
      <nav>
        <ul class="main-nav">
          <li><h3><%= user.user_name %></h3></li>
          <li><a href="/logout" class="signup-btn">Logout</a></li>
          <!-- <li><a href="/user/login">Login</a></li>
          <li><a href="/user/signup" class="signup-btn">Create account</a></li> -->
        </ul>
      </nav>
    </header>
    <main>
      <!-- Add task -->
      <div>
        <p><%= error %></p>
        <form action="/task" method="POST" class="form-container">
          <input type="text" name="task" placeholder="Add task" required />
          <input type="text" name="userId" hidden value="<%= user.id %>" />
          <button type="submit" class="submit-btn">Add</button>
        </form>
      </div>

      <section class="task-section">
        <aside>
          <nav>
            <ul class="task-nav">
              <li><a href="/tasks">All</a></li>
              <li><a href="/tasks?status=pending">Pending</a></li>
              <li><a href="/tasks?status=completed">Completed</a></li>
            </ul>
          </nav>
        </aside>
        <% if(tasks.length > 0) { %>
        <div class="task-container">
          <% for (let task of tasks) { %>
          <div class="task">
            <!-- task -->
            <p><%= task.name %></p>
            <h3><%= task.status %></h3>
            <!-- Actions -->
            <div class="action-btns">
              <% if(task.status === 'pending') { %>
              <form action="/task/<%= task._id %>" method="POST">
                <button class="complete-btn">✔</button>
              </form>
              <% } %>
              <form action="/task/<%= task._id %>/remove" method="POST">
                <button class="delete-btn">⛔</button>
              </form>
            </div>
          </div>
          <% } %>
        </div>
        <% } else { %>
        <h1 class="empty-tasks">No tasks found</h1>
        <% } %>
      </section>
    </main>
  </body>
</html>
